@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap');

body{
  background-color: #e6e6ff;
  font-family: "Montserrat" , Poppins, "sans-serif";
  width: 100vw;
  overflow-x: hidden;
}

.logo{
  /* font-family: "Playwrite MX Guides", cursive; */
}
.animatedButton{
  animation-duration: 10000ms;
}
.ql-container{
  border: none !important;
}
.ql-toolbar{
  border: none !important;
}
.ql-editor{
  border: none !important;
}